/* ================== Members Page ================== */
.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
}